---
volumePermissions:
  enabled: false
  securityContext:
    runAsUser: auto

primary:
  extendedConfiguration: |
    password_encryption=md5
  podSecurityContext:
{% if test_scenario['values']['openshift'] == 'true' %}
    enabled: false
{% else %}
    enabled: true
{% endif %}
  containerSecurityContext:
    enabled: false
  resources:
    requests:
      memory: 128Mi
      cpu: 50m
    limits:
      memory: 128Mi
      cpu: 500m
auth:
  username: druid
  password: druid
  database: druid
