---
apiVersion: v1
kind: Secret
metadata:
  name: druid-oidc
stringData:
  DRUID_OIDC_CLIENT: druid
  DRUID_OIDC_CLIENT_SECRET: R1bxHUD569vHeQdw
  DRUID_COOKIE_PASSPHRASE: acacu42nsDSaskoi5
---
apiVersion: v1
kind: Secret
metadata:
  name: druid-internal-password
stringData:
  DRUID_INTERNAL_PASSWORD: mBcrsG328ox25fs3Fse
