---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 600
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: druid-resources-broker-default
spec:
  template:
    spec:
      containers:
        - name: druid
          resources:
            requests:
              cpu: 300m
              memory: 1536Mi
            limits:
              cpu: "1200m"
              memory: 1536Mi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: druid-resources-coordinator-default
spec:
  template:
    spec:
      containers:
        - name: druid
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: "400m"
              memory: 512Mi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: druid-resources-historical-default
spec:
  template:
    spec:
      containers:
        - name: druid
          resources:
            requests:
              cpu: 300m
              memory: 4Gi
            limits:
              cpu: 1200m
              memory: 4Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
      volumes:
        - name: tls-mount
          ephemeral:
            volumeClaimTemplate:
              metadata:
                annotations:
                  secrets.stackable.tech/class: tls
                  secrets.stackable.tech/scope: pod,node
                creationTimestamp: null
              spec:
                storageClassName: secrets.stackable.tech
        - name: tls
          emptyDir: {}
        - name: config
          configMap:
            name: druid-resources-historical-default
        - name: rwconfig
          emptyDir: {}
        - name: log-config
        - name: log
        - name: segment-cache
          emptyDir:
            sizeLimit: 2G
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: druid-resources-middlemanager-resources-from-role
spec:
  template:
    spec:
      containers:
        - name: druid
          resources:
            requests:
              cpu: 100m
              memory: 1Gi
            limits:
              cpu: "1"
              memory: 1Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: druid-resources-middlemanager-resources-from-role-group
spec:
  template:
    spec:
      containers:
        - name: druid
          resources:
            requests:
              cpu: 300m
              memory: 3Gi
            limits:
              cpu: "3"
              memory: 3Gi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: druid-resources-router-default
spec:
  template:
    spec:
      containers:
        - name: druid
          resources:
            requests:
              cpu: 100m
              memory: 512Mi
            limits:
              cpu: 400m
              memory: 512Mi
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
        - name: vector
{% endif %}
status:
  readyReplicas: 1
  replicas: 1
