---
apiVersion: v1
kind: ConfigMap
metadata:
  name: test-rego
  labels:
    opa.stackable.tech/bundle: "true"
data:
  test.rego: |
    package druid

    default allow = false

    allow {
      input.user == "alice"
    }

    allow {
      input.user == "admin"
    }

    allow {
      input.user == "druid_system"
    }
---
apiVersion: opa.stackable.tech/v1alpha1
kind: OpaCluster
metadata:
  name: test-opa
spec:
  image:
    productVersion: "{{ test_scenario['values']['opa'].split('-stackable')[0] }}"
    stackableVersion: "{{ test_scenario['values']['opa'].split('-stackable')[1] }}"
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
  clusterConfig:
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  servers:
    roleGroups:
      default:
        replicas: 1
