---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
metadata:
  name: install-druid
timeout: 600
{% if test_scenario['values']['use-tls'] == 'true' %}
---
apiVersion: secrets.stackable.tech/v1alpha1
kind: SecretClass
metadata:
  name: tls-internal
spec:
  backend:
    autoTls:
      ca:
        secret:
          name: secret-provisioner-tls-internal-ca
          namespace: default
        autoGenerate: true
{% endif %}
---
apiVersion: druid.stackable.tech/v1alpha1
kind: DruidCluster
metadata:
  name: derby-druid
spec:
  version: {{ test_scenario['values']['druid'] }}
  commonConfig:
    deepStorage:
      hdfs:
        configMapName: druid-hdfs
        directory: /druid
    metadataStorageDatabase:
      dbType: derby
      connString: jdbc:derby://localhost:1527/var/druid/metadata.db;create=true
      host: localhost
      port: 1527
    tls:
{% if test_scenario['values']['use-tls'] == 'true' %}
      server:
        secretClass: tls
      internal:
        secretClass: tls-internal
{% else  %}
      server: null
      internal: null
{% endif %}
    zookeeperConfigMapName: druid-znode
  brokers:
    roleGroups:
      default:
        replicas: 1
  coordinators:
    roleGroups:
      default:
        replicas: 1
  historicals:
    roleGroups:
      default:
        replicas: 1
  middleManagers:
    roleGroups:
      default:
        replicas: 1
  routers:
    roleGroups:
      default:
        replicas: 1
