---
apiVersion: kuttl.dev/v1beta1
kind: TestAssert
timeout: 300
commands:
  - script: kubectl exec -n $NAMESPACE druid-checks-0 -- /tmp/check-tls.sh $NAMESPACE {{ test_scenario['values']['tls-mode'] }}
